@page
@model BITS_Project.Pages.Tournaments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.SpaceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.SpaceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.DateMade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.DateMade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.DateFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.DateFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.ActivityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.ActivityType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.MaxTeams)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.MaxTeams)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.MaxTeamSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.MaxTeamSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.MinTeamSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.MinTeamSize)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tournament.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
