@page
@model BITS_Project.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-page="Create">Create New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].SpaceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].DateMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpaceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
